<h1 class="title">Organización Galaxias Unidas</h1>
<h2 class="title">por el baile</h2>

<br>

<div class="container">
    <div class="card">
        <a routerLink="/kokun"><button class="btn" id="btnUno"></button></a>
        <h5>Galaxia Kokun Seta</h5>
    </div>


    <div class="card">
        <a routerLink="/michin"><button class="btn" id="btnDos"></button></a>
        <h5>Galaxia Michin</h5>
    </div>


    <div class="card">
        <a routerLink="/rencor"><button class="btn" id="btnTres"></button></a>
        <h5>Galaxia Rencorosos</h5>
    </div>


    <div class="card">
        <a routerLink="/thanos"><button class="btn" id="btnCuatro"></button></a>
        <h5>Galaxia Aceithanos</h5>
    </div>


    <div class="card">
        <a routerLink="/moco"><button class="btn" id="btnSeis"></button></a>
        <h5>Galaxia Verde Moco</h5>
    </div>
</div>