<div id="footer">
    <div id="derechos">
        <h5>Todos los derechos intergalácticos reservados </h5>
    </div>
    <span><a href="https://www.youtube.com/channel/UCERSu6yexqDaouEv5ebpLCw?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a></span>
    <span><a href=""><i class="fab fa-facebook"></i></a></span>
    <span><a href="https://github.com/panesio" target="_blank"><i class="fab fa-github"></i></a></span>
    <span><a href="https://www.instagram.com/juan_sebastian_23o/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a></span>
</div>