<nav class="menu">
    <ul class="ulStyle">
        <li><a routerLink="/"> Inicio </a> </li>
        <li><a> Conoce nuestras galaxias! </a>
            <ul class="subMenu">
                <li><a routerLink="/rencorosos"> Galaxia los rencorosos </a> </li>
                <li><a routerLink="/aceithanos"> Galaxia Aceithanos </a> </li>
                <li><a routerLink="/verdemoco"> Galaxia Verde Moco </a> </li>
                <li><a routerLink="/kokunseta"> Galaxia Kokun Seta </a> </li>
                <li><a routerLink="/michines"> Galaxia Michines </a> </li>

            </ul>
        </li>
        <li><a routerLink="/whoweare"> ¿Quiénes somos? </a> </li>
        <li><a routerLink="/contacto"> Contactenos </a> </li>


    </ul>
</nav>