<h1 class="title">¿Quiéres que tu galaxia participe en nuestro concurso?</h1>
<h1 class="title">Contactanos!</h1>

<div id="info">
    <p class="etiqueta">Estamos ubicados en la Galaxia SantaMaría ubicada a 30 grados desde el norte, en el camino encontrarás un lince cósmico el cual te indicará que queda treinta minutos de viaje.</p>
    <p class="etiqueta">Nos encantaría que fueras parte de nuestro equipo, pero si no puedes venir presencialmente, envía tu baile al número de Galthapp 43251452 e indicanos el nombre de tu galaxia.</p>
</div>